.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-nav {
  display: flex;
  font-size: 24px;
  text-decoration: none;
}

.nav-item, .nav-link:visited {
  list-style: none;
  margin: 20px;
  color: #04145c;
}

.nav-link  {
  text-decoration: none;
}

.bb {
  border: 1px solid black;
}

.home {
  margin: 0 60px;
  padding: 20px;
  width: 320px;
  font-size: 20px;
}

.login-input {
  margin: 0 0 20px 0;
  font-size: 18px;
  height: 40px;
  width: 300px;
}

.form-button {
  font-size: 18px;
  width: 150px;
  height: 40px;
  border: 3px solid #686ab1;
  border-radius: 5px;
  background-color: #acadd2;
}

.pol {
  margin: 0 0 0 0;
}

.input-span {
  display: block;
  color: #04145c;
  margin-bottom: 5px;
}

.mainpage {
  margin: 60px;
  font-size: 22px;
}

.read {
  margin-bottom: 20px;
}