<%- include('./port/layout-start', {title: 'Sign-IN'}) %>
<%= mess%>
<main>
  <h1>Аутентификация</h1>
  <form 
    class="create-form bb"
    action="/api/users/testtoken"
    method="POST"
    enctype="multipart/form-data"
  >
    <div><span>Введите email</span></div>
    <div></div><input type="email" placeholder="some@mail.ru" name="email" /></div>
    <div></div><span>пароль</span></div>
    <div></div><input type="password" name="password" /></div>
    <div><button>Войти</button></div>
  </form>
</main>

<%- include('./port/layout-end') %>

<!-- fetch('https://reqbin.com/echo/get/json', {
  headers: {Authentication: 'Bearer Token'}
})
   .then(resp => resp.json())
   .then(json => console.log(JSON.stringify(json))) -->